body{
    background-color: #F2F2F2;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.productForm {
    max-width: 85rem;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 3rem 2rem;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    color: rgb(16, 137, 211);
  }
  
  .form {
    margin-top: 2rem;
  }

  #name, #categoria {
    margin-right: 3rem;
  }

  .datos{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
  }

  .etiquetas, .entrada {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form .input {
    width: 95%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus, .input-brand {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }

  .input-brand{
    width: 95%;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    text-align: center;
    font-size: medium;
  }
  
  .form .add-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .add-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .form .add-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }

  .log-form{
    text-decoration: none;
    color: #b31e28;
  }

  .log-form:hover{
    font-weight: bold;
    transition: all 0.5s;
    transform: scale(1.15);
  }



/*Contenedor para la imagen*/
  .container-img {
    height: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
  }
  
  .header-img {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .footer-img {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .footer-img p {
    flex: 1;
    text-align: center;
  }

  .header-img {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  #imagenMostrada {
    width: 100%;
    height: auto;
    display: block;
  }

  .container-img label {
    display: block;
  }

  #inputImagen{
    font-size: 1.5rem;
  }

  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}